body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral-900);
}

section{
    width: clamp(19rem, 40vw , 25rem);
    padding: var(--padding);
    
    border-radius: var(--padding);

    background: radial-gradient(at left top, var(--clr-neutral-500), var(--clr-neutral-700));

    h1{
        margin: 1.5rem 0 0.8rem 0;
    }

    p {
        color: var(--clr-neutral-200)
    }
}

.thank-you-section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    & h1{
        margin: 0.8rem 0 0.8rem 0;
    }

    & img{margin: 0.8rem  }
}

.rating-value-informator{
    font-size: 0.85rem;
    margin: 0.8rem;
    padding: 0.2rem 0.5rem 0 0.5rem;
    border-radius: 1rem;
    background-color: var(--clr-neutral-300);
    color: var(--clr-primary)

}

.hidden{
    display:none;
}